<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>

<body>
  <% include partials/menu-navbar %>
  <%- messages('partials/flash-messages', locals) %>

  <% if(files){ %>
  <!--$ fileFilters -->
  <div class='container-fluid' id='fileFilters'>

    <!--% fileFilters -->
    <form id='filtersForm'>
      <div class='row' id='fileFilters'>
          <div class='col-md-4 text-center'>
              <h4 class="d-block bg-dark text-white my-2">Semestre</h4>
              <select name="semester" class="custom-select filter">
                  <option selected value=''>Todos</option>
                  <option value="IV">IV</option>
                  <option value="V">V</option>
                  <option value="VII">VII</option>
                  <option value="VIII">VIII</option>
                  <option value="IX">IX</option>
                  <option value="any">Ninguno</option>
              </select>
          </div>

          <div class='col-md-4 text-center'>
              <h4 class="d-block bg-dark text-white my-2">Menci&oacute;n</h4>
              <select name="mention" class="custom-select filter">
                  <option selected value=''>Todos</option>
                  <option value="general">General</option>
                  <option value="computación">Computaci&oacute;n</option>
                  <option value="control">Control</option>
                  <option value="comunicaciones">Comunicaciones</option>
              </select>
          </div>

          <div class='col-md-4 text-center'>
              <h4 class="d-block bg-dark text-white my-2">Tipo de archivo</h4>
              <select name="fileType" class="custom-select filter">
                  <option selected value=''>Todos</option>
                  <option value="document">Documentos</option>
                  <option value="image">Imagen</option>
                  <option value="aplication">Aplicaci&oacute;n</option>
                  <option value="video">Video</option>
                  <option value="other">Otros</option>
              </select>
          </div>
      </div>
    </form>
    <!--% -------------------------------------------------- -->

    <script>
        $('.filter').on('change', ()=>{
          $.ajax({
            type: 'POST',
            url: '<%= url %>',
            data: $('#filtersForm').serialize()
          }).done( (data)=>{
              $('#filesResult').html(data);
          });
        });
    </script>
    
  </div>

  <!--$ files result -->
  <div class='container-fluid' id='filesResult'>
    <div class='container-fluid text-center my-2' id='files-title'>
        <h2><%=resultsTitle%></h2>
    </div>
    <hr>
    <h3 class='text-center'>P&aacute;gina <%=currentPage%> de <%=totalPages%> </h3>
    <hr>

    <table class='table-bordered' style="width:100%">

      <% files.forEach(file => { %>
        <!--+ file card -->
        <tr>
            <!--% file extension icon -->
            <td style="width:5%" class='d-none d-sm-table-cell' >
                <div class='text-center' >
                    <a  role="button" class='btn <%= file.elementClass.btnClass %> d-block'><%= file.elementClass.btnName %></a>
                </div>
            </td>
            <!--% file details -->
            <td style="width: 85%">
                <h6 class='card-title font-weight-bold mb-0'><%= file.title %></h6>
                <small class='card-subtitle text-muted'>Subido por: <a href="/user/files?id=<%= file.userId %>"><%= file.createdBy %></a></small>
                <% if(file.tags!= null && file.tags.length > 0){%>
                    <div class='tags'>Tags: 
                      <% file.tags.forEach(tag => { %>
                        <a href="/tags/files?tag=<%= tag %>" class="badge badge-secondary"><%= tag %></a>
                    <% }); %>
                    </div>
                  <% } %>
            </td>
            <!--% view file -->
            <td style="width:10%" class='text-center'>

                <!--@ file extension icon for mobile-->
                <div class='text-center' >
                    <a role="button" class='btn <%= file.elementClass.btnClass %> d-block d-sm-none'><%= file.elementClass.btnName %></a>
                </div>

                <a  href="/files/viewFile?id=<%= file.id%>" class="btn btn-dark d-block" style='width: 110px; margin: auto;'>ver archivo</a>
            </td>
        </tr>
      <% }) %>  
      
    </table><hr>

    <!--+ pagination -->
    <ul class="pagination justify-content-center">

      <% var pageButtonStatus = '' %>

      <% pageButtonStatus = (previousPage)? 'enabled' : 'disabled'%>
      <li class="page-item <%= pageButtonStatus %>">
        <button class="page-link pageBtn" data-page="&page=<%= previousPage %>" >Anterior</button>
      </li>

      <li class="page-item">
        <button class="page-link pageBtn" data-page="&page=<%= currentPage %>"><%= currentPage %></button>
      </li>

      <% pageButtonStatus = (nextPage)? 'enabled' : 'disabled'%>
      <li class="page-item <%= pageButtonStatus %>">
        <button class="page-link pageBtn" data-page="&page=<%= nextPage %>">Siguiente</button>
      </li>
    </ul>

  </div>

<% } %>

<script>
  $('.pageBtn').on('click', (e)=>{
    let page = e.target.dataset.page;
  
    $.ajax({
      type: 'POST',
      url: '<%= url %>',
      data: $('#filtersForm').serialize()+page
    }).done( (data)=>{
        $('html, body').animate({ scrollTop: 0 }, '100');
        $('#filesResult').html(data);
    });
  }); 
</script>

  <% include partials/footer %>
  <% include partials/frontend-scripts %>
</body>

</html>