<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>

<body>
  <% include partials/menu-navbar %>
  <%- messages('partials/flash-messages', locals) %>

  <% if(files){ %>
  <!--$ fileFilters -->
  <div class='container-fluid' id='fileFilters'>

    <!--% fileFilters -->
    <div class='row' id='fileFilters'>
        <div class='col-md-4 text-center'>
            <h4 class="d-block bg-dark text-white my-2">Semestre</h4>
            <select name="fileSemester" class="custom-select">
                <option selected value='todos'>Todos</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
                <option value="VII">VII</option>
                <option value="VIII">VIII</option>
                <option value="IX">IX</option>
            </select>
        </div>

        <div class='col-md-4 text-center'>
            <h4 class="d-block bg-dark text-white my-2">Menci&oacute;n</h4>
            <select name="fileCategory" class="custom-select">
                <option selected value='todos'>Todos</option>
                <option value="general">General</option>
                <option value="computacion">Computaci&oacute;n</option>
                <option value="control">Control</option>
                <option value="Comunicaciones">Comunicaciones</option>
            </select>
        </div>

        <div class='col-md-4 text-center'>
            <h4 class="d-block bg-dark text-white my-2">Tipo de archivo</h4>
            <select name="fileType" class="custom-select">
                <option selected value='todos'>Todos</option>
                <option value="documentos">Documentos</option>
                <option value="imagen">Imagen</option>
                <option value="aplicacion">Aplicaci&oacute;n</option>
            </select>
        </div>
    </div>
    <!--% -------------------------------------------------- -->
    
  </div>

  <!--$ files result -->
  <div class='container-fluid' id='filesResult'>
    <div class='container-fluid text-center my-2' id='files-title'>
        <h2>Documentos en: <%= resultsTitle %></h2>
    </div>
    <hr>
    <h3 class='text-center'>p&aacute;gina <%=currentPage%> de <%=totalPages%> </h3>
    <hr>

    <table class='table-bordered' style="width:100%">

      <% files.forEach(file => { %>
        <!--+ file card -->
        <tr>
            <!--% file extension icon -->
            <td style="width:5%" class='d-none d-sm-table-cell' >
                <div class='text-center' >
                    <a href="#" role="button" class='btn fileType-powerpoint d-block'>PowerPoint</a>
                </div>
            </td>
            <!--% file details -->
            <td style="width: 85%">
                <h6 class='card-title font-weight-bold mb-0'><%= file.title %></h6>
                <small class='card-subtitle text-muted'>Subido por: <a href="/user/files?id=<%= file.userId %>"><%= file.createdBy %></a></small>
                <% if(file.tags!= null && file.tags.length > 0){%>
                    <div class='tags'>Tags: 
                      <% file.tags.forEach(tag => { %>
                        <a href="/tags/files?tag=<%= tag %>" class="badge badge-secondary"><%= tag %></a>
                    <% }); %>
                    </div>
                  <% } %>
            </td>
            <!--% view file -->
            <td style="width:10%" class='text-center'>

                <!--@ file extension icon for mobile-->
                <div class='text-center' >
                    <a href="#" role="button" class='btn fileType-powerpoint d-block d-sm-none'>PowerPoint</a>
                </div>

                <a href="/files/viewFile?id=<%= file.id%>" role="button" class="btn btn-dark d-block">Ver archivo</a>
            </td>
        </tr>
      <% }) %>  
      
    </table><hr>

    <!--+ pagination -->
    <ul class="pagination justify-content-center">

      <% var pageButtonStatus = '' %>
      <% var href = url %>

      <% pageButtonStatus = (previousPage)? 'enabled' : 'disabled'%>
      <li class="page-item <%= pageButtonStatus %>">
        <a class="page-link" href="<%= href %>&page=<%= previousPage %>" tabindex="-1" aria-disabled="true">Previous</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="<%= href %>&page=<%= currentPage %>"><%= currentPage %></a>
      </li>

      <% pageButtonStatus = (nextPage)? 'enabled' : 'disabled'%>
      <li class="page-item <%= pageButtonStatus %>">
        <a class="page-link" href="<%= href %>&page=<%= nextPage %>" tabindex="-1" aria-disabled="true">Next</a>
      </li>
    </ul>

  </div>

<% } %>

  <% include partials/footer %>
  <% include partials/frontend-scripts %>
</body>

</html>