<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>

<body>
  <% include partials/menu-navbar %>

  <div class="container-fluid bg-3 text-left">   
    <%- messages('partials/flash-messages', locals) %>
    
    <hr>
    <div class="col-md-12">

        <h1>Title: <%= file.title %></h1>
        <p class="card-subtitle mb-2 text-muted">Uploaded By: <%= file.createdBy %></p>
        <p><%= file.description %></p>
        <h4 class="badge badge-primary">Extension: <%= file.mimetype %></h4><br>
        <h4 class="badge badge-primary">Size: <%= Math.round(file.size/Math.pow(10,6)) %> mb</h4><br>
        <% if(file.tags!= null && file.tags.length > 0){%>
          <div class='tags'>Tags: 
          <% file.tags.forEach(tag => { %>
              <a href="/tags/files?tag=<%= tag %>" class="badge badge-secondary"><%= tag %></a>
          <% }); %>
          </div><br>
        <% } %>

        <a href="/files/download?id=<%= file.id%>" class="btn btn-success">Download File</a>

        <% if((userIsLogged && user.googleId == file.userId) || (userIsLogged && user.role == 'admin')){ %>
  
          <a href="/files/edit?id=<%= file.id%>" class="btn btn-primary">Edit File</a>
          <form method="POST" action='/files/delete?id=<%= file.id%>&_method=DELETE' 
            onsubmit="return confirm('Do you really want to delete this file?');">
            <br><button type='submit' class="btn btn-danger">Delete File</button>
          </form>

        <% } %>
      
    </div><hr>

  </div>
  
  <% include partials/frontend-scripts %>
</body>

</html>