<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
  <link rel="stylesheet" href="/stylesheets/filePreview.css">
</head>

<body>
  <% include partials/menu-navbar %>
  <%- messages('partials/flash-messages', locals) %>

  <div class='container-fluid'>
    <div class='card'>

      <div class='row'>

        <div class='col-lg-3 text-center'>
            <div class='kv-avatar'>
                <div id="preview-box" 
                  data-name="<%=file.filename%>" 
                  data-size="<%=file.size%>" 
                  data-id="<%= file.id%>"
                  data-caption="<%=file.title%>"
                  data-mimetype="<%=file.mimetype%>"
                  type="file">
                </div>
            </div>
        </div>

        <div class='col-lg-9 card-body' id='details-box'>
            <h1><%= file.title %></h1>
            <p><span class='text-color'>Publicado por: <a href="/user/files?id=<%= file.userId %>"></span><%= file.createdBy %></p></a>
            <p><span class='text-color'>Autor original: </span><%= file.author %></p>
            <p id='date'><span class='text-color' data-uploadDate='<%= file.updateDate %>'>Ultima actualizaci贸n: </span></p>
            <script>
              let date = new Date($('#date span').attr('data-uploadDate'));
              const options = {
                year:"numeric",
                month:"2-digit",
                day:"2-digit"
              }
              //format date
              date = date.toLocaleDateString('en-US',options);
              $('#date').append(date);
            </script>
            <p><span class='text-color'>Fecha del material: </span><%= file.publicationDate %></p>
            <p><span class='text-color'>Semestre: </span><%= file.semester %><span class='text-color'> Menci贸n: </span><%= file.mention %></p>
            <p><span class='text-color'>Extensi贸n: </span><%= file.filename.split('.').pop() %></p>
        </div>

      </div>

      <div class='row'>
      
        <div class='col-12 card-body'>

          <div>
            <h4 class='text-color'>Descripci贸n: </h4>
            <p><%= file.description %></p>
          </div>

          <% if(file.tags!= null && file.tags.length > 0){%>
              <div class='tags text-color'>Etiquetas: 
                  <% file.tags.forEach(tag => { %>
                      <a href="/tags/files?tag=<%= tag %>" class="badge badge-secondary"><%= tag %></a>
                  <% }); %>
              </div>
          <% } %>
        </div>
        
        <div class='col-12 card-body'>
          <a href="/files/download?id=<%= file.id%>" class='btn btn-download'><i class="fas fa-file-download" style="margin-right: 10px;"></i>Descargar archivo</a>
          <% if((userIsLogged && user.googleId == file.userId) || (userIsLogged && user.role == 'admin')){ %>
            <a href="/files/edit?id=<%= file.id%>" class='btn btn-edit float-right'><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar</a>
            <form class="float-right" method="POST" action='/files/delete?id=<%= file.id%>&_method=DELETE' onsubmit="return confirm('Estas seguro que deseas eliminar este archivo?');">
                <button type='submit' class="btn btn-delete"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Eliminar</button>
            </form>
          <% } %>
        </div>
  
      </div> 
    </div>
  </div>

  <script src='/javascripts/preview-box.js'></script>
  <% include partials/frontend-scripts %>
  <% include partials/footer %>
</body>

</html>